.git
.github
.idea
.vscode
.turbo

node_modules
**/node_modules

dist
build
coverage
logs
upload
.cache
.temp
.tmp

docs/node_modules
docs/.vitepress/cache
docs/.vitepress/dist

.DS_Store
*.log
*.tar.gz

apps/server/.env
apps/server/.env.development
apps/server/.env.production
apps/web/.env
apps/web/.env.dev
apps/web/.env.prod
apps/web/.env.test
!apps/web/.env.coolify
